body{
    margin-right: 100px;
    margin-left: 100px;
    padding: 0 200px 0 200px;
    background-color: black;
}

*{
    font-family: sans-serif;
}

.part-1{
    background-color: #1f2937;
    padding: 0 100px 80px 100px;

}

    

b,h4{
    display: inline-block;
}
.top{
    margin:10px 20px 0 0;
    font-size: 18px;
    color: #e5e7eb;
}
b.top{
    margin-right: 370px;
    color: #f9faf8;
    font-size: 24px;
    
    
}
button{
    background: #3882f6;
    color: #e5e7eb;
    padding: 5px 25px 5px 25px; 
    border-radius: 7px;
    border: 2px  #ffffff;

}



.container-1{
    display:flex;
    margin-top: 100px;
    font-size: 18px;
    color: #e5e7eb;
}
.container-1 div{
    flex:1;
    padding-right: 20px;
}
.one h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800px;
    margin-bottom: 5px;
    margin-top: 0px;
}
.one p{
    margin:0 0 5px 0;
   
}
.two{
    background: gray;
    
}
.two p{
    text-align: center;
    padding-bottom: 50px;
    margin-top: 100px;
    
}


.part-2{
    background-color: white;
    
    
}
.container-2{
    display: flex;
    padding: 0 200px;
    margin-bottom: 100px;
}
.container-2 .box{
   
    flex: 1;
    height: 250px;
    
}
.container-2 .frame{
    border: 3px  solid #3882f6;
    border-radius: 25px;
    margin: 30px 33px 0 33px ;
    height: 150px;
    width: 150px;
}
.box p{
    font-size: 13px;
    margin-top: 3px;
    padding: 0 33px;
    text-align: center;
}
.part-3{
    background-color: #e5e7eb;
    
    padding: 60px 200px;
}
    
.quote{
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 0;
    
}
.part-3 .sign{
    margin-top: 0;
    text-align:end;
    align-items: center;
    justify-content: center;
}
.part-4{
    background-color: white;
    padding:50px 50px 50px 200px;
}
.container-4{
    display: flex;
    width: 900px;
    color: white;
   
}
.container-4 div{
    flex: 1 2 0%;
    background-color: #3882f6;
    display: inline;
}
.container-4 .box{
    flex:3 0 0%;
}
.container-4 button{
    
    margin: 50px 10px 0 0;
    border: 2px solid #ffffff;
}
.box h3{ 
    margin: 40px 0 0 160px;
}

footer{
    color: white;
    text-align: center;
    background-color: #1f2937;
}